[submodule "layers/meta-yocto"]
	path = layers/meta-yocto
	url = https://git.yoctoproject.org/meta-yocto
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = http://git.openembedded.org/meta-openembedded
[submodule "layers/meta-raspberrypi"]
	path = layers/meta-raspberrypi
	url = https://git.yoctoproject.org/meta-raspberrypi
[submodule "layers/meta-woowee"]
	path = layers/meta-woowee
	url = git@github.com:PierreYvesMal/meta-woowee.git
[submodule "layers/bitbake"]
	path = layers/bitbake
	url = https://git.openembedded.org/bitbake
[submodule "layers/meta-ros"]
	path = layers/meta-ros
	url = https://github.com/ros/meta-ros.git
[submodule "layers/meta-tanowrt"]
	path = layers/meta-tanowrt
	url = https://github.com/tano-systems/meta-tanowrt.git
[submodule "layers/meta-zenoh"]
	path = layers/meta-zenoh
	url = https://github.com/Jarsop/meta-zenoh.git
[submodule "layers/openembedded-core"]
	path = layers/openembedded-core
	url = https://git.openembedded.org/openembedded-core
